@model IEnumerable<Shop.Models.Product>

@{
    ViewBag.Title = "Search";
}
<body>

<form action="product/Seacrch"  method="get">
<input type="text" name="SearchParam" />
<input type="submit" value="Search" />


<p>
@Html.ActionLink("Create New", "Create")
</p>


<table border="10">
<tr>

   <th>
        @Html.DisplayNameFor(model => model.ProductName)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.Price)
    </th>

   <th>
        @Html.DisplayNameFor(model => model.type)
    </th>

    <th></th>
</tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.type)
    </td>
    
   
</tr>
}

</table>
</form>
    </body>